<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debugging</key>
	<dict>
		<key>ALL-ShowFrameRate</key>
		<true/>
		<key>ALL-ShowNodeCount</key>
		<true/>
		<key>IOS-ShowDrawCount</key>
		<false/>
		<key>IOS-ShowQuadCount</key>
		<false/>
		<key>IOS-ShowPhysics</key>
		<true/>
		<key>IOS-ShowFields</key>
		<false/>
	</dict>
	<key>Defaults</key>
	<dict>
		<key>OSX-Start-FullScreen</key>
		<false/>
		<key>OSX-SelectedResolution</key>
		<integer>0</integer>
		<key>OSX-Resolutions</key>
		<array>
			<dict>
				<key>Size-Width</key>
				<integer>1024</integer>
				<key>Size-Height</key>
				<integer>768</integer>
			</dict>
		</array>
		<key>ALL-Introduce</key>
		<false/>
	</dict>
	<key>GameParams</key>
	<dict>
		<key>Levels</key>
		<array>
			<dict>
				<key>sky</key>
				<string>CFE1E1</string>
				<key>seaTop</key>
				<string>A7CCA3</string>
				<key>seaMiddle</key>
				<string>94C18F</string>
				<key>seaBottom</key>
				<string>7CB376</string>
				<key>parallaxfast</key>
				<string>alps</string>
				<key>parallaxslow</key>
				<string>alps</string>
				<key>tmxfile</key>
				<string>platform1small.tmx</string>
			</dict>
			<dict>
				<key>sky</key>
				<string>3C6183</string>
				<key>seaTop</key>
				<string>F3FCFB</string>
				<key>seaMiddle</key>
				<string>E7F9F9</string>
				<key>seaBottom</key>
				<string>D5EFF9</string>
				<key>parallaxfast</key>
				<string>trees</string>
				<key>parallaxslow</key>
				<string>trees</string>
				<key>tmxfile</key>
				<string>platform2small.tmx</string>
			</dict>
			<dict>
				<key>sky</key>
				<string>ACCECA</string>
				<key>seaTop</key>
				<string>CADAC9</string>
				<key>seaMiddle</key>
				<string>B3CFC8</string>
				<key>seaBottom</key>
				<string>9EC8C6</string>
				<key>parallaxfast</key>
				<string>desert</string>
				<key>parallaxslow</key>
				<string>desert</string>
				<key>tmxfile</key>
				<string>platform3.tmx</string>
			</dict>
			<dict>
				<key>sky</key>
				<string>EEDAAB</string>
				<key>seaTop</key>
				<string>CADAC9</string>
				<key>seaMiddle</key>
				<string>B3CFC8</string>
				<key>seaBottom</key>
				<string>9EC8C6</string>
				<key>parallaxfast</key>
				<string>mounts</string>
				<key>parallaxslow</key>
				<string>mounts</string>
				<key>tmxfile</key>
				<string>platform4.tmx</string>
			</dict>
			<dict>
				<key>sky</key>
				<string>EEDAAB</string>
				<key>seaTop</key>
				<string>CADAC9</string>
				<key>seaMiddle</key>
				<string>B3CFC8</string>
				<key>seaBottom</key>
				<string>9EC8C6</string>
				<key>parallaxfast</key>
				<string>mounts</string>
				<key>parallaxslow</key>
				<string>mounts</string>
				<key>tmxfile</key>
				<string>platform5.tmx</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
